@model Beldsoft.MVC.ViewModels.SiteSettings.SiteSettingsGetAllViewModel

<!--==============================
      Mobil Menü
==============================-->
<div class="vs-menu-wrapper">
    <div class="vs-menu-area text-center">
        <div class="mobile-logo">
            <a href="@Model.ParentQueryPageUrl"><img src="@Model.LogoUrl" alt="@Model.SiteName" class="logo"></a>
            <button class="vs-menu-toggle">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

 
        <div class="vs-mobile-menu">
            <ul>
                <li>
                    <a class="vs-svg-assets" href="/">
                        Anasayfa
                        <svg xmlns="http://www.w3.org/2000/svg" width="87" height="31" viewBox="0 0 87 31" fill="none">
                            <path d="M0 4.14031C0 1.87713 1.87602 0.0646902 4.13785 0.142684L83.1379 2.86682C85.2921 2.94111 87 4.70896 87 6.86445V25.0909C87 27.2642 85.2647 29.0399 83.0919 29.0898L4.09193 30.9059C1.84739 30.9575 0 29.1521 0 26.907V4.14031Z" fill="#70167E"></path>
                        </svg>
                    </a>
                </li>
                <li><a href="@Model.ContactPageUrl">İletişim</a></li>
                <li><a href="@Model.ParentQueryPageUrl">Veli Sorgu</a></li>
            </ul>
        </div>

        <div class="px-20 py-20">
            <div class="sidemenu-contact style2">
                <ul>
                    <li>
                        <a href="tel:@Model.PhoneNumber" class="sidemenu-link">@Model.PhoneNumber</a>
                    </li>
                    <li>
                        <a href="mailto:@Model.Email" class="sidemenu-link">@Model.Email</a>
                    </li>
                    <li>
                        <span>@Model.Address</span>
                    </li>
                </ul>
            </div>

            <div class="footer-social mb-20">
                @if (!string.IsNullOrEmpty(Model.FacebookUrl))
                {
                    <a href="@Model.FacebookUrl"><i class="fab fa-facebook-f"></i></a>
                }
                @if (!string.IsNullOrEmpty(Model.YoutubeUrl))
                {
                    <a href="@Model.YoutubeUrl"><i class="fab fa-youtube"></i></a>
                }
                @if (!string.IsNullOrEmpty(Model.InstagramUrl))
                {
                    <a href="@Model.InstagramUrl"><i class="fab fa-instagram"></i></a>
                }
                @if (!string.IsNullOrEmpty(Model.LinkedinUrl))
                {
                    <a href="@Model.LinkedinUrl"><i class="fab fa-linkedin-in"></i></a>
                }
            </div>

            <p class="sidemenu-text sidemenu-text--footer text-center mb-0">
                @Html.Raw(Model.CopyrightText)
            </p>
        </div>
    </div>
</div>
