@model Beldsoft.MVC.ViewModels.SiteSettings.SiteSettingsGetAllViewModel

<section class="space space-extra-bottom overflow-hidden">
    <div class="container">
        <div class="row gx-60">
            <div class="col-lg-5 mb-30">
                <div class="vs-title title-anime animation-style2 mb-3">
                    <div class="title-anime__wrap">
                        <span class="vs-title__sub">İletişim</span>
                        <h2 class="vs-title__main">Bizimle İletişime Geçin</h2>
                    </div>
                </div>

                @if (Model != null)
                {
                    <div class="contact-info mb-20 wow animate__fadeInUp" data-wow-delay="0.45s">
                        <span>Adres:</span> @Model.Address
                    </div>

                    <div class="mb-20">
                        <div class="address-info wow animate__fadeInUp" data-wow-delay="0.55s">
                            <div class="address-info__icon">
                                <i class="fa-light fa-phone-volume"></i>
                            </div>
                            <div class="address-info__content">
                                <span>Telefon Numarası :</span>
                                <a href="tel:@Model.PhoneNumber">@Model.PhoneNumber</a>,
                                <a href="tel:@Model.SupportPhone">@Model.SupportPhone</a>
                            </div>
                        </div>
                        <div class="address-info wow animate__fadeInUp" data-wow-delay="0.65s">
                            <div class="address-info__icon">
                                <i class="fa-regular fa-envelope"></i>
                            </div>
                            <div class="address-info__content">
                                <span>Email :</span>
                                <a class="text-lowercase" href="mailto:@Model.Email">@Model.Email</a>
                            </div>
                        </div>
                    </div>

                    <img class="contact-divider" src="@Model.LogoUrl" alt="@Model.SiteName">

                    <div class="social-style style2">
                        <span class="social-style__label">Takip Edin :</span>
                        @if (!string.IsNullOrEmpty(Model.FacebookUrl))
                        {
                            <a href="@Model.FacebookUrl"><i class="fab fa-facebook-f"></i></a>
                        }
                        @if (!string.IsNullOrEmpty(Model.InstagramUrl))
                        {
                            <a href="@Model.InstagramUrl"><i class="fab fa-instagram"></i></a>
                        }
                        @if (!string.IsNullOrEmpty(Model.LinkedinUrl))
                        {
                            <a href="@Model.LinkedinUrl"><i class="fab fa-linkedin-in"></i></a>
                        }
                        @if (!string.IsNullOrEmpty(Model.YoutubeUrl))
                        {
                            <a href="@Model.YoutubeUrl"><i class="fab fa-youtube"></i></a>
                        }
                    </div>
                }
            </div>

            <div class="col-lg-7 mb-30">
                <form action="mail.php" method="post" class="form-style2 ajax-contact wow animate__fadeInUp" data-wow-delay="0.95s">
                    <div class="row gx-20">
                        <div class="col-md-6 form-group">
                            <input class="form-control" type="text" name="fname" id="fname" placeholder="Adınız *">
                        </div>
                        <div class="col-md-6 form-group">
                            <input class="form-control" type="text" name="lname" id="lname" placeholder="Soyadınız *">
                        </div>
                        <div class="col-md-6 form-group">
                            <input class="form-control" type="email" name="email" id="email" placeholder="Email *">
                        </div>
                        <div class="col-md-6 form-group">
                            <input class="form-control" type="tel" name="phone" id="phone" placeholder="Telefon *">
                        </div>
                        <div class="col-12 form-group">
                            <textarea class="form-control" name="message" id="message" placeholder="Mesajınız *" rows="5"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="vs-btn"><span class="vs-btn__border"></span>Gönder</button>
                        </div>
                    </div>
                    <p class="form-messages mb-0 mt-3"></p>
                </form>
            </div>
        </div>
    </div>
</section>
