@model Beldsoft.MVC.ViewModels.SiteSettings.SiteSettingsGetAllViewModel

<header class="vs-header">
    <div class="vs-balls"></div>

    <!-- Header Top -->
    <div class="vs-header__top">
        <div class="container container--custom">
            <div class="row align-items-center justify-content-between gy-1 text-center text-lg-start">
                <div class="col-lg-auto d-none d-lg-block">
                    <div class="d-flex align-items-center flex-wrap gap-4">
                        <div class="vs-header__info">
                            <i class="fa-solid fa-phone-volume"></i>
                            <span> Telefon : <a href="tel:@Model.PhoneNumber">@Model.PhoneNumber</a></span>
                        </div>
                        <div class="vs-header__info">
                            <i class="fa-solid fa-clock-rotate-left"></i>
                            <span class="text-theme-color5">
                                Açılış zamanı : @Model.OpeningTime
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-auto">
                    <div class="social-style">
                        <span class="social-style__label">Bizi Takip Et :</span>
                        @if (!string.IsNullOrEmpty(Model.FacebookUrl))
                        {
                            <a href="@Model.FacebookUrl" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        }
                        @if (!string.IsNullOrEmpty(Model.LinkedinUrl))
                        {
                            <a href="@Model.LinkedinUrl" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        }
                        @if (!string.IsNullOrEmpty(Model.YoutubeUrl))
                        {
                            <a href="@Model.YoutubeUrl" target="_blank"><i class="fab fa-youtube"></i></a>
                        }
                        @if (!string.IsNullOrEmpty(Model.InstagramUrl))
                        {
                            <a href="@Model.InstagramUrl" target="_blank"><i class="fab fa-instagram"></i></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sticky Header -->
    <div class="sticky-wrapper">
        <div class="sticky-active">
            <div class="container container--custom">
                <div class="row justify-content-between align-items-center">
                    <div class="col">
                        <div class="vs-header__logo">
                            <a href="/">
                                @if (!string.IsNullOrEmpty(Model.LogoUrl))
                                {
                                    <img src="@Model.LogoUrl" alt="@Model.SiteName" class="logo" />
                                }
                                else
                                {
                                    <img src="~/toddly/assets/img/logo.svg" alt="logo" class="logo" />
                                }
                            </a>
                        </div>
                    </div>

                    <div class="col-auto">
                        <nav class="main-menu d-none d-lg-block">
                            <ul>
                                <li><a href="/">ANASAYFA</a></li>
                                <li><a href="/iletisim">İLETİŞİM</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="col-auto">
                        <div class="vs-header__action">
                            <div class="d-none d-xxl-inline-flex">
                                <a href="/iletisim" class="vs-btn">VELİ SORGU</a>
                            </div>
                            <div class="d-none d-lg-inline-flex align-items-center">
                                <button class="sideMenuToggler">☰</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="preloader">
    <div class="preloader-inner">
        @if (!string.IsNullOrEmpty(Model.LogoUrl))
        {
            <img src="@Model.LogoUrl" alt="@Model.SiteName">
        }
        else
        {
            <img src="~/toddly/assets/img/logo.svg" alt="logo">
        }
        <span class="loader"></span>
    </div>
</div>
