@model Beldsoft.MVC.ViewModels.SessionSection.SessionSectionGetAllViewModel

<section class="vs-session--area space space-extra-bottom bg-theme-color-1 z-index-common overflow-hidden">
    <div class="vs-session--bg-image" data-vs-gsap-parallax-speed="5" data-vs-gsap-parallax-zoom>
        <img src="~/uploads/session/sessionbg.jpg" alt="session bg">
    </div>
    <div class="vs-session--ele1" data-vs-gsap-parallax-speed="2" data-vs-gsap-parallax-zoom>
        <img src="~/toddly/assets/img/session/session-ele-1.png" alt="session ele">
    </div>
    <div class="vs-session--ele2" data-vs-gsap-parallax-speed="5" data-vs-gsap-parallax-zoom>
        <img src="~/toddly/assets/img/session/session-ele-2.png" alt="session ele">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 wow animate__fadeInUp" data-wow-delay="0.15s">
                <div class="vs-title text-center title-anime animation-style2">
                    <div class="title-anime__wrap">
                        <span class="vs-title__sub text-white">@Model.SubTitle</span>
                        <h2 class="vs-title__main text-white px-xl-5">
                            @Model.MainTitle
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="row gx-30">

                    <!-- 1. Kart -->
                    <div class="col-lg-6 wow animate__fadeInUp" data-wow-delay="0.2s">
                        <div class="vs-session">
                            <img class="vs-session__bg" src="~/toddly/assets/img/elements/session-main-block.png" alt="">
                            <div class="vs-session__content">
                                <h3 class="vs-session__title">@Model.Title1</h3>
                                <time class="vs-session__time">@Model.Time1</time>
                            </div>
                            <span class="vs-session__icon">
                                <img src="~/toddly/assets/img/icons/@Model.IconUrl1" alt="session icon">
                            </span>
                        </div>
                    </div>

                    <!-- 2. Kart -->
                    <div class="col-lg-6 wow animate__fadeInUp" data-wow-delay="0.3s">
                        <div class="vs-session">
                            <img class="vs-session__bg" src="~/toddly/assets/img/elements/session-main-block.png" alt="">
                            <div class="vs-session__content">
                                <h3 class="vs-session__title">@Model.Title2</h3>
                                <time class="vs-session__time">@Model.Time2</time>
                            </div>
                            <span class="vs-session__icon">
                                <img src="~/toddly/assets/img/icons/@Model.IconUrl2" alt="session icon">
                            </span>
                        </div>
                    </div>

                    <!-- 3. Kart -->
                    <div class="col-lg-6 wow animate__fadeInUp" data-wow-delay="0.4s">
                        <div class="vs-session">
                            <img class="vs-session__bg" src="~/toddly/assets/img/elements/session-main-block.png" alt="">
                            <div class="vs-session__content">
                                <h3 class="vs-session__title">@Model.Title3</h3>
                                <time class="vs-session__time">@Model.Time3</time>
                            </div>
                            <span class="vs-session__icon">
                                <img src="~/toddly/assets/img/icons/@Model.IconUrl3" alt="session icon">
                            </span>
                        </div>
                    </div>

                    <!-- 4. Kart -->
                    <div class="col-lg-6 wow animate__fadeInUp" data-wow-delay="0.5s">
                        <div class="vs-session">
                            <img class="vs-session__bg" src="~/toddly/assets/img/elements/session-main-block.png" alt="">
                            <div class="vs-session__content">
                                <h3 class="vs-session__title">@Model.Title4</h3>
                                <time class="vs-session__time">@Model.Time4</time>
                            </div>
                            <span class="vs-session__icon">
                                <img src="~/toddly/assets/img/icons/@Model.IconUrl4" alt="session icon">
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="vs-balls vs-balls--screen" data-balls-top="-6px" data-balls-color="#F8F8F8"></div>
    <div class="vs-balls vs-balls--screen" data-balls-bottm="-6px" data-balls-color="#F8F8F8"></div>
</section>
